:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(238, 75, 43);
  --border-color: #dbdbdb;
  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
  --star-gold-color: #ffce3e;
  --primary-hover: rgba(238, 75, 43, 0.9);
  --header-sort-bar-height: 46px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* rps */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

/* test */

.grid__col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.333%;
}

.grid__col-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

/*==  Animation ==*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  position: relative;
  margin: auto;
  z-index: 1;
  animation: growth linear 0.1s;
}

/* btn style*/
.btn {
  min-width: 124px;
  height: 34px;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
}

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 8px;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--disable {
  cursor: default;
  color: #949494;
  background-color: #c3c3c3;
}

/* selection */

.select-input {
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  top: 1px;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 8px 16px;
  list-style: none;
  display: none;
  z-index: 1;
}

.select-input__list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: -4px;
  right: 0;
}

.select-input__item {
}

.select-input__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 4px 0;
  display: block;
}

.select-input__link:hover {
  color: var(--primary-color);
}

.select-input:hover .select-input__list {
  display: block;
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination-item {
  margin: 0 8px;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
  background-color: var(--primary-hover);
}

.pagination-item__link {
  --height: 30px;
  text-decoration: none;
  font-size: 2rem;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: 30px;
  display: block;
  text-align: center;
  border-radius: 2px;
  font-weight: 300;
}

.pagination-item__icon {
}
